// Define variable defaults
$body-bg: #dfe7e9;
$body-color: #4a4a4a;
html{
    min-width: 100vw;
}

body {
    min-width: 100vw;
    min-height: 100%;
    height: max-content;
    overflow-x: hidden;
}

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

// for dropdown menu in header
.navbar-nav .dropdown-menu{
    position: absolute !important;
}

.grid-cards-columns {
    //display: grid;
    //grid-template-columns: 1fr 1fr;
    //grid-gap: 8px;
    //column-count: 2;
    column-count: 2;
    //column-gap: 1.5em;
    //grid-auto-columns: max-content;
    //grid-template-rows: fit-content(40%);
    .card-item {
        display: inline-block;
        height: max-content;
        margin-bottom: 25px;
        width: 100%;
        cursor: pointer;

        float: left;
        page-break-inside: avoid;
        break-inside: avoid;

        transition: all .1s ease-in-out;

        img {
            //margin-left: 50%;
            //transform: translateX(-50%);
            //width: 80%;


        }

        &:hover {
            transform: scale(1.01);
        }

        .card-body {
            border: 2px solid #e5e5e5;
            border-top: 0;
            border-radius: 4px;
            padding: 7px !important;

            height: max-content;

            span.description{
                height: 30px;
                text-overflow: ellipsis;
            }
        }
    }

    @media screen and (min-width: 2000px) {
        & {
            column-count: 4 !important;
        }
    }
    @media screen and (min-width: 1180px) {
        & {
            column-count: 3;
        }
    }
    @media screen and (max-width: 470px) {
        & {
            h4{font-size: 1.3em;}
            .card-text{font-size: 0.9em}
            column-count: 1 !important;
        }
    }

    //// small /////
    &.grid-cards-columns-small{
        img {
            width: 100px;
            margin: 0 !important;
            //transform: none !important;
            top: 50%;
            position: relative;
            transform: translateY(-50%) !important;
        }

        .card-item {
            font-size: 0.9em;
            display: grid;
            grid-template-columns: 1fr 5fr;

            h4{
                font-size: 1.2em;
            }

            .card-body {
                border: none;
                height: 100% !important;
            }
        }

        @media screen and (max-width: 640px) {
            & {
                h4{font-size: 1.3em;}
                .card-text{font-size: 0.9em}
                column-count: 1 !important;
            }
        }
        @media screen and (min-width: 768px) {
            & {column-count: 1 !important;}
        }
        @media screen and (min-width: 920px) {
            & {column-count: 2 !important;}
        }

    }
}


.grid-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;

    .card-item {
        height: 400px;
        position: relative;

        cursor: pointer;
        transition: all .1s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }

        .card-body {
            border: 2px solid #e5e5e5;
            border-top: 0;
            border-radius: 4px;
            padding: 7px !important;


            .description{
                //height: 30px;
                //width: 150px;
                //overflow: hidden;
                //text-overflow: ellipsis !important;
            }
        }
    }

    @media screen and (min-width: 2000px) {
        & {grid-template-columns: 1fr 1fr 1fr 1fr !important;}
    }
    @media screen and (min-width: 1300px) {
        & {grid-template-columns: 1fr 1fr 1fr;}
    }
    @media screen and (max-width: 500px) {
        & {grid-template-columns: 1fr !important;}
    }
}


